html {
  font-family: Lora, serif;
  color: #fff;
}

.masthead {
  background-color: #588477;
  border-top: 3px solid #2d5a4d;
  border-bottom: 3px solid #2d5a4d;
  background-image: url("../images/leaf-bg.svg");
  background-repeat: repeat;
  background-size: 64px;
}

.logo {
  text-align: center;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
  color: #fff;
  border: 3px solid #2d5a4d;
  border-radius: 8px;
  background-color: #467366;
}

.nav a:hover {
  background-color: #145b1d;
  background-image: url("../images/leaf-icon.svg");
  background-repeat: no-repeat;
  background-size: 64px;
  background-position: center;
}

.banner {
  background-image: linear-gradient(to bottom, transparent, rgba(16, 52, 41, 0), rgba(16, 52, 41, .8)), url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.banner-content {
  background: url("../images/two-leaves.svg") .75em 180px / 100px no-repeat;
  padding-top: 300px;
}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
